[submodule "frankmocap"]
	path = third_party/frankmocap
	url = https://github.com/ojh6404/frankmocap.git
[submodule "Arbitrary-Hands-3D-Reconstruction"]
	path = third_party/Arbitrary-Hands-3D-Reconstruction
	url = https://github.com/ojh6404/Arbitrary-Hands-3D-Reconstruction.git
[submodule "hamer_ros/hamer"]
	path = third_party/hamer
	url = https://github.com/ojh6404/hamer.git
