[submodule "frankmocap"]
	path = frankmocap
	url = https://github.com/ojh6404/frankmocap.git
[submodule "Arbitrary-Hands-3D-Reconstruction"]
	path = Arbitrary-Hands-3D-Reconstruction
	url = https://github.com/ojh6404/Arbitrary-Hands-3D-Reconstruction.git
[submodule "hamer"]
	path = hamer
	url = https://github.com/ojh6404/hamer.git
[submodule "4D-Humans"]
	path = 4D-Humans
	url = https://github.com/ojh6404/4D-Humans.git
	branch = patch-python3.8
