<launch>
  <arg name="input_image" default="/kinect_head/rgb/image_rect_color"/>
  <arg name="device" default="cuda:0" /> <!-- cpu or cuda -->
  <arg name="hand_threshold" default="0.9" />
  <arg name="object_threshold" default="0.9" />

  <!-- hand_object_detection node -->
  <node name="hand_object_detection_node"
        pkg="hand_object_detection_ros" type="hand_detection_node.py"
        output="screen" >
    <remap from="~input_image" to="$(arg input_image)" />
    <rosparam subst_value="true" >
        device: $(arg device)
        hand_threshold: $(arg hand_threshold)
        object_threshold: $(arg object_threshold)
    </rosparam>
  </node>
</launch>
